.card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(232, 228, 228);
    box-shadow: 5px 5px 15px 2px rgba(64, 60, 60, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    gap: 20px;
}


.card:hover {
    transform: translateY(-8px);
    box-shadow: 8px 8px 20px 3px rgba(22, 21, 21, 0.4);
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.user-pfp {
    border-radius: 20%;
    height: 90px;
    width: 90px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ring-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;

}



.progress-ring {
    position: absolute;
    width: 120px;
    height: 120px;
}

.ring-background {
    fill: transparent;
    stroke: #e0e0e0;
    stroke-width: 8;
    stroke-linecap: round;
}

.ring-fill {
    fill: transparent;
    stroke-width: 8;
    stroke-linecap: round;
    : 251.33;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s ease;
}

.rating-container {
    position: absolute;
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.rating {
    font-size: 32px;
    font-weight: 900;
    color: #333;
}

.out-of {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.quote {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    color: #555;
    letter-spacing: 0.5px;
}